<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments :: head"></th:block>
    <title>Create New Pizza</title>
</head>
<body th:with="isEdit=${pizza.id != null}">
    <!--  navbar  -->
    <th:block th:replace="fragments :: navbar"></th:block>


    <main>

        <div class="container">
            <h1 th:text="isEdit ? 'Modifica Pizza' : 'Nuova Pizza' "></h1>
            <form
                    th:with="formAction= ${isEdit ? '/pizza/edit/' + pizza.id : '/pizza/create'}"
                    th:action="@{${formAction}}"
                    th:object="${pizza}"
                    method="post"
                    id="pizza-form"
                    class="d-flex"
            >
                <div class="row">

                    <div class="col-12 py-3">
                        <label class="form-label" for="name">Nome Pizza</label>
                        <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="Es: Margherita">
                    </div>
                    <div class="col-12 py-3">
                        <label class="form-label" for="description">Piccolla Descrizione</label>
                        <input type="text" id="description" th:field="*{description}" class="form-control" placeholder="Es: pizza con salame piccante">
                    </div>
                    <div class="col-12 py-3">
                        <label class="form-label" for="price">Prezzo</label>
                        <input type="text" id="price" th:field="*{price}" class="form-control">
                    </div>
                    <div class="col-12 py-3">
                        <label class="form-label" for="image">link immagine</label>
                        <input type="url" id="image" th:field="*{image}" class="form-control">
                    </div>
                    <div class="col-12 py-3">
                        <button class="btn btn-success" type="submit">Salva</button>
                        <a class="btn btn-danger" th:href="@{/pizza}">Cancella</a>
                    </div>


                </div>
            </form>

        </div>

    </main>
</body>
</html>