<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments :: head"></th:block>
    <title>pizza singola</title>
</head>
<body>
    <!--  navbar  -->
    <th:block th:replace="fragments :: navbar"></th:block>

    <div class="container py-5">
        <div class="row">
            <!-- col immagine -->
            <div class="col-4">
                <img th:src="${pizza.image}" th:alt="${pizza.name}" class="img-fluid rounded-5">
            </div>


            <!-- col testo -->
            <div class="col-8">
                <ul>
                    <li th:text="${pizza.name}"></li>
                    <li th:text="${pizza.description}"></li>
                    <li th:text="${pizza.price}"></li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>